<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GateKeeper : IP Lookup</title>
    <link rel="stylesheet" href="./public/css/main.css">
    <link rel="stylesheet" href="./public/css/form.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body> 
    <div class="center">
        <ul class="lookup-nav">
            <li><form action="./index.ejs"><button type="submit" class="lookupSubmit">Home</button></form></li>
            <li><form action="https://webmail.pimz.xyz/"><button type="submit" class="lookupSubmit">PimMail</button></form></li>
            <li><form><button type="submit" class="lookupSubmit" onclick="quitApp()">Quit</button></form></li>
        </ul>
    </div>
    <div class="center">
        <div class="class2">
            <h3 style="letter-spacing: .4px; text-transform: uppercase; color: white;">Enter An IP Address</h3>
            <form id="form-generate" class="form">
                <input name="ip" type="text" id="IP1" placeholder="1.1.1.1" autocomplete="off" required> <br> <br> 
                <button type="submit" class="submit" id="key">Lookup IP</button>
            </form> 
        </div>
        <form id="results1" class="results">
            <p style="color: black;" id="message"></p>
        </form>
    </div>
</body>
</html>
<script defer>
    var g = document.getElementById('message')

    g.innerHTML = `<h3 style="color: black; text-transform: uppercase; letter-spacing: .8px;">Data Output</h3>`;
    $('#form-generate').submit(function (e) {
        e.preventDefault();
        const formData = new URLSearchParams(new FormData(this));
        fetch(`https://www.eiffelware.net/api/lookup?q=` + $('#IP1'), {
            method: 'post',
            body: formData
        }).then((r)=> r.json()).then((b) => {
            var g = document.getElementById('message');
            if (b.OK == true) {
                g.innerHTML = `<h3 style="color: black; text-transform: uppercase; letter-spacing: .8px;">Loading. . .</h3>`;
                fetch(`https://www.eiffelware.net/api/lookup?q=` + $('#IP1'), {
                    method: 'get'
                }).then((r) => r.json()).then((b) => {
                    if (b.data) {
                        g.innerHTML = `<p style="font-weight: bold;">IP Address: ${b.data.ip}</p><br><p style="font-weight: bold;">Host Name: ${b.data.hostname}</p><br><p style="font-weight: bold;">City: ${b.data.city}</p><br><p style="font-weight: bold;">Region: ${b.data.region}</p><br><p style="font-weight: bold;">Country: ${b.data.country}</p><br><p style="font-weight: bold;">Postal Code: ${b.data.postal}</p>`;
                        console.log(b);
                    }
                    if (b.error.status == 404) {
                        g.innerHTML = `<p style="font-weight: bold; text-transform: uppercase; letter-spacing: ".8px";">${b.error.message}</p>`
                        return;
                    }
                });
            }
        });
    });

    $('#quitBTN').submit(function (e) {
        const remote = require('electron').remote
        let w = remote.getCurrentWindow()
        w.close()
    });
</script>
<script defer src="./public/js/nav.js"></script>
<script defer src="./public/js/quit.js"></script>