<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GateKeeper v0.2.3 : IP Lookup</title>
    <link rel="icon" type="image/ico" href="/public/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/css/lookup.css">
    <script>window.$ = window.jQuery = require('jquery');</script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" id="quitBTN" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="./index.ejs">Home</a>
                    <a class="nav-link" aria-current="page" href="./lookup.ejs">IP Lookup</a>
                    <a class="nav-link" aria-current="page" href="./info.ejs">Info</a>
                    <a class="nav-link" aria-current="page" href="#" onclick="quitApp()">Quit</a>
                </div>
              </div>
            </div>
          </nav>
          <div class="box">
            <div class="spacer"></div>
            <h3>Lookup IP Addresses using GateKeeper</h3>
            <div class="spacer"></div>
            <form class="input-group mb-3" style="width: 25em; margin: auto;" id="submit">
              <input type="text" class="form-control" placeholder="1.1.1.1" aria-label="1.1.1.1" aria-describedby="button-addon2" id="text" style="text-align: center;">
              <button class="btn btn-success" type="submit" id="button-addon2" style="font-size: 16.5px; letter-spacing: .25px;">Lookup</button>
            </form>
          </div>
          <div class="spacer"></div>
          <div class="resBox" id="resBox">
            <div class="spacer"></div>
              <p id="ip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"></p>
              <p id="region" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"></p>
              <p id="hostname"></p>
              <p id="org"></p>
              <p id="timezone"></p>
              <div class="spacer"></div>
              <button type="button" class="btn btn-success" onclick="copyIP()" id="cBTN" style="margin-bottom: 5px;">Copy Information</button>
          </div>
    </div>
</body>
</html>
<script defer>
const fetch = require('node-fetch');

var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

function copyIP() {
  var res = document.getElementById('resBox'); 
  var selection = window.getSelection();
  var range = document.createRange();
  range.selectNodeContents(res);
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand('copy');
  document.getElementById('ip').innerHTML = "Copied";
  document.getElementById('region').innerHTML = "";
  document.getElementById('hostname').innerHTML = "";
  document.getElementById('org').innerHTML = "";
  document.getElementById('timezone').innerHTML = "";
}

$('#submit').submit(function(e) {
    e.preventDefault();
    var ip = document.getElementById('ip');
    var region = document.getElementById('region');
    var hostname = document.getElementById('hostname');
    var org = document.getElementById('org');
    var timezone = document.getElementById('timezone');
    var t = document.getElementById('text');    
    if (t.value) {
      fetch(`https://www.eiffelware.net/api/lookup/${t.value}`, {
        method: 'get'
      }).then((r) => r.json()).then((b) => {
        document.getElementById('resBox').classList.remove('resBox');
        document.getElementById('resBox').classList.add('resBox-show');
        var tooltip = new bootstrap.Tooltip(ip);
        var tooltip2 = new bootstrap.Tooltip(region);
        ip.innerHTML = "";
        region.innerHTML = ""; 
        hostname.innerHTML = "";
        org.innerHTML = "";
        timezone.innerHTML = "";
        document.getElementById('cBTN').classList.remove('disabled');
        if (b.error) { ip.innerHTML = `Error: ${b.error.message}`, document.getElementById('cBTN').classList.add('disabled'); };
        if (b.data.ip) ip.innerHTML = `IP Address: ${b.data.ip}`, tooltip._config.title = `Geo Loc: ${b.data.loc}      Please note that this may not be accurate.`;
        if (b.data.region) region.innerHTML = `City: ${b.data.city}  |  Region: ${b.data.region}  |  Country: ${b.data.country}`, tooltip2._config.title = `Zip Code: ${b.data.postal}`;
        if (b.data.hostname !== undefined) hostname.innerHTML = `Hostname: ${b.data.hostname}`;
        if (b.data.org) org.innerHTML = `ISP: ${b.data.org}`;
        if (b.data.timezone) timezone.innerHTML = `Timezone: ${b.data.timezone}`;
        if (b.data.status == "400") ip.innerHTML = `Error: ${b.data.message}`;
      })
    }
  });

function quitApp() {
    window.close();
}
</script>