<!DOCTYPE html>
<html lang="en">
  <%- include('./meta/index', { title: 'IP Lookup', css: 'lookup' }); %>
<body>
    <div class="center">
      <%- include('./meta/nav'); %>
          <div class="box">
            <div class="my-1"></div>
            <h2>Lookup IP Addresses using GateKeeper</h2>
            <div class="my-1"></div>
            <form class="input-group mb-3" style="width: 25em; margin: auto;" id="submit">
              <input type="text" class="form-control" placeholder="1.1.1.1" aria-label="1.1.1.1" aria-describedby="button-addon2" id="text" style="text-align: center;">
              <button class="btn btn-success" type="submit" id="button-addon2" style="font-size: 16.5px; letter-spacing: .25px;">Lookup</button>
            </form>
          </div>
          <div class="spacer"></div>
          <div class="resBox" id="resBox">
            <div class="spacer"></div>
              <p id="ip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"></p>
              <p id="region" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"></p>
              <p id="hostname"></p>
              <p id="org"></p>
              <p id="timezone"></p>
              <div class="spacer"></div>
              <button type="button" class="btn btn-success" onclick="copyIP()" id="cBTN" style="margin-bottom: 5px;">Copy Information</button>
          </div>
    </div>
</body>
</html>
<script defer>
const fetch = require('node-fetch');
let cookie = localStorage.getItem("session");
let key;

fetch(`https://www.eiffelware.net/api/v1/apps/gatekeeper/auth/0.2.7`, { method: 'post', headers: { session: cookie } }).then((r) => r.json()).then((b) => {
  if (b.OK == false || b.error) return window.close();
  let acc = b;
  var accn = document.getElementById('accNav');
  var logn = document.getElementById('logoutNav');
  key = b.user.apiKey;
  accn.setAttribute('onclick', `window.open("https://www.eiffelware.net/dashboard?auth=${cookie}")`);
  logn.setAttribute('onclick', `localStorage.removeItem("session"), window.close()`);
  console.log(b);
});

var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

function copyIP() {
  var res = document.getElementById('resBox'); 
  var selection = window.getSelection();
  var range = document.createRange();
  var tooltip = new bootstrap.Tooltip(ip);
  range.selectNodeContents(res);
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand('copy');
  document.getElementById('ip').innerHTML = "Copied";
  document.getElementById('cBTN').classList.add('resBox');
  document.getElementById('region').innerHTML = "";
  document.getElementById('hostname').innerHTML = "";
  document.getElementById('org').innerHTML = "";
  document.getElementById('timezone').innerHTML = "";
  tooltip._config.title = "";
}

$('#submit').submit(function(e) {
    e.preventDefault();
    var ip = document.getElementById('ip');
    var region = document.getElementById('region');
    var hostname = document.getElementById('hostname');
    var org = document.getElementById('org');
    var timezone = document.getElementById('timezone');
    var t = document.getElementById('text');    
    if (t.value) {
      fetch(`https://www.eiffelware.net/api/lookup/${t.value}?key=${key}`, {
        method: 'get'
      }).then((r) => r.json()).then((b) => {
        console.log(key);
        document.getElementById('resBox').classList.remove('resBox');
        document.getElementById('resBox').classList.add('resBox-show');
        var tooltip = new bootstrap.Tooltip(ip);
        var tooltip2 = new bootstrap.Tooltip(region);
        ip.innerHTML = "";
        region.innerHTML = ""; 
        hostname.innerHTML = "";
        org.innerHTML = "";
        timezone.innerHTML = "";
        document.getElementById('cBTN').classList.remove('disabled');
        document.getElementById('cBTN').classList.remove('resBox');
        if (b.error) { ip.innerHTML = `Error: ${b.error.message}`, document.getElementById('cBTN').classList.add('disabled'); };
        if (b.data.ip) ip.innerHTML = `IP Address: ${b.data.ip}`, tooltip._config.title = `Geo Loc: ${b.data.loc}      Please note that this may not be accurate.`;
        if (b.data.region) region.innerHTML = `City: ${b.data.city}  |  Region: ${b.data.region}  |  Country: ${b.data.country}`, tooltip2._config.title = `Zip Code: ${b.data.postal}`;
        if (b.data.hostname !== undefined) hostname.innerHTML = `Hostname: ${b.data.hostname}`;
        if (b.data.org) org.innerHTML = `ISP: ${b.data.org}`;
        if (b.data.timezone) timezone.innerHTML = `Timezone: ${b.data.timezone}`;
        if (b.data.status == "400") ip.innerHTML = `Error: ${b.data.message}`;
      })
    }
  });

function quitApp() {
    window.close();
}
</script>