<!DOCTYPE html>
<html>
  <%- include('./meta/index', { title: 'Home', css: 'splash' }); %>
  <body>
    <div class="center">
      <div class="templateBox">
        <div class="progress" style="margin-bottom: 5px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 101.5%;"></div>
        </div>
        <p id="headerText">Loading App. . .</p>
        <a class="btn btn-danger disabled" href="#" style="margin-top: 5px; margin-bottom: 5px;" onclick="quitApp()" id="btnQuit">Quit</a>
        </div>
    </div>
  </body>
</html>
<script defer src="./public/js/splash.js"></script>
<script defer>
  function quitApp() {
    window.close();
  }
</script>