*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Archivo Narrow', sans-serif;
  background-color: #1F2428;
  margin: auto;
  padding: 10px;
}

.center {
  align-items: center;
  text-align: center;
  word-break: break-all;
  padding: 0px;
}

.spacer {
  margin-top: 5px;
}

.box {
  color: white;
  background-color: rgb(100, 100, 100);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
  width: 25em;
  margin: auto;
  margin-bottom: 25px;
}