*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Archivo Narrow', sans-serif;
  background-color: #131313;
  margin: auto;
  padding: 10px;
}

.center {
  align-items: center;
  text-align: center;
  word-break: break-all;
  padding: 0px;
}

.spacer {
  margin-top: 5px;
}

.box {
  color: white;
  background-color: rgb(36, 36, 36);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  margin: auto;
  margin-bottom: 25px;
}

.resBox { display: none; }

.resBox-show {
  color: white;
  background-color: rgb(36, 36, 36);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  margin: auto;
  margin-bottom: 6px;
}

p { color: white; letter-spacing: .2px; font-size: 18px; margin: 1.5px; }