* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    color: black;
    background-color: rgb(54, 57, 63);
    max-width: 38rem;
    padding: 2rem;
  }

.center {
    align-items: center;
    text-align: center;
    word-break: break-all;
    padding: 0em;
}

.box {
    color: white;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    padding: 10px;
    word-break: break-all;
} 

.class {
    color: white;
    background-color: rgb(100, 100, 100);
    border-radius: 25px;
    padding: 25px;
    display: grid;
    grid-template: auto auto;
    row-gap: 2px;
    column-gap: 2px;
}

.classLogin {
    color: black;
    background-color: rgb(235, 235, 235);
    border-radius: 25px;
    padding: 25px;
    max-width: 28%;
}

.numberSize {
    width: 2rem;
    height: 28px;
    padding-left: 8px;
    padding-right: 1px;
    float: center;
    background: rgb(226, 226, 226);
    border: 1px solid rgb(179, 177, 177);
    border-radius: 12%;
}

.numberSize:focus {
    outline: 0;
  }

.rangeSize {
    -webkit-appearance: none;
    width: 6rem;
    height: 8px;
    background: rgb(226, 226, 226);
    outline: none;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    cursor: pointer;
}

.rangeSize:hover {
    opacity: 1;
}


.password-display {
    color: white;
    background-color: rgb(235, 235, 235);
    border-radius: 25px;
    padding: 50px;
    max-width: 25%;
    word-break: break-all;
}

nav {
    height: 10vh;
    background: rgb(235, 235, 235);
}

.nav-disable {
    display: none;
}

.nav-links {
    position: fixed;
    word-break: break-all;
    margin-left: -38.5em;
    display: flex;
    list-style-type: none;
    height: 100%;
    width: 45em;
    justify-content: space-around;
}

.nav-idisable {
    display: none;
}

.nav-ilinks {
    position: fixed;
    margin-top: 13px;
    margin-left: -16em;
    word-break: break-all;
    display: flex;
    width: 35em;
    justify-content: space-around;
    list-style: none;
}

.results {
    position: relative;
    margin-top: 1em;
    margin-left: 8.2em;
    max-width: 50%;
    color: white;
    background-color: rgb(100, 100, 100);
    border-radius: 25px;
    padding: 25px;
    word-break: break-all;
    text-align: center;
}

.alpha {
    position: absolute;
    top: 93.5%;
    left: 22.5%;
    color: rgb(236, 67, 67);
    word-break: break-all;
}

.gButton {
    background-color: green;
    border: black solid 1px;
    border-radius: 5em;
    color: white;
    padding: 5px;
    width: 405px;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .8px;
    font-size: medium;
    cursor: pointer;
}

.cButton {
    display: none;
}

.cButton-on {
    background-color: green;
    border: black solid 1px;
    border-radius: 5em;
    color: white;
    padding: 5px;
    width: 375px;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .8px;
    font-size: medium;
    cursor: pointer;
}

.resultPass {
    border: black solid;
    padding: 5px;
    border-radius: 1em;
    font-weight: bold;
    letter-spacing: .4px;
    font-size: large;
}

.ipL {
    position: relative;
    margin-top: 2em;
    margin-left: 9.5em;
    max-width: 65%;
    color: white;
    background-color: rgb(100, 100, 100);
    border-radius: 25px;
    padding: 25px;
    word-break: break-all;
}


.lookup-nav {
    height: 10vh;
    background-color: rgb(54, 57, 63);
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 1em;
}

.class2 {
    color: white;
    background-color: rgb(100, 100, 100);
    border-radius: 25px;
    padding: 25px;
    display: grid;
    grid-template: auto auto;
    row-gap: 2px;
    column-gap: 2px;
}

.spacer {
    margin-top: 5px;
}

#md5 { font-weight: bold; letter-spacing: .4px; font-size: large; }