* {
    margin: 0;
    padding: 0;
  }

  a { -webkit-user-select: none; -webkit-app-region: none; }
  
  body {
    font-family: 'Archivo Narrow', sans-serif;
    background-color: #1F2428;
    margin: auto;
    padding: 10px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  
  .center {
    align-items: center;
    text-align: center;
    word-break: break-all;
    padding: 0px;
  }
  
  .spacer {
    margin-top: 5px;
  }
  
  .templateBox {
    color: white;
    background-color: rgb(100, 100, 100);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    width: 15em;
    margin: auto;
    margin-top: 35%;
    margin-bottom: 188px;
  }
  
  h1 { color: white; font-size: 28px; text-transform: uppercase; letter-spacing: .2px; }
  #headerText { color: white; font-weight: 500; font-size: 25px; letter-spacing: .2px; margin-bottom: 10px; }